# Python
__pycache__/
*.py[cod]

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.db-journal

# Environment
.env
venv/

# Media files
media/

# Migrations (optional)
*/migrations/*.py
!*/migrations/__init__.py

# VSCode or PyCharm
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
